body{
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37,35,58);
    border-radius: 0px 0px 30px 30px;
    padding: 0px 30px;
}
.items{
    width: 150px;
    height: 100px;
    background-color: rgb(37,35,58);
    font-size: 40px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}
.icon{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:5px solid transparent;
}
.items:hover .icon{
    position: relative;
    top:-50px;
    border:5px solid white;
    background-color:#4e67eb;
    border-radius: 104px;
}
.items::before,.items::after{
    width: 20px;
    height: 100px;
    position:relative;
    background-color: rgb(37,35,58);
    content:"";
}
.items::before{
    border-radius: 0px 30px 0px 0px;
    z-index: 1;
}
.items::after{
    border-radius: 30px 0px 0px 0px;
}
span{
    width: 1px;
    height: 1px;
    position:relative;
}
.items:hover span::before{
    width: 140px;
    height: 15px;
    content: "";
    position: absolute;
    background-color: white;
    top:-50px;
    left:-18px;
}